body {
  font-family: 'Poppins', sans-serif;
  color: #fff;
  background: transparent;
  overflow-x: hidden;
}

.container {
  position: relative;
  z-index: 2;
}

.content {
  background: rgba(255, 255, 255, 0.8);
  border-radius: 8px;
  padding: 2rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.navbar, .video-overlay {
  background: rgba(0, 0, 0, 0.5);
}

.btn-maroon {
  background-color: #800000;
  color: #fff;
  border-radius: 50px;
}

.btn-maroon:hover {
  background-color: #a00000;
  color: #fff;
}

#backgroundVideo {
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  object-fit: cover;
  z-index: 1;
}

.video-overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 1;
}

.modal-content {
  background-color: #343a40;
}

#spinner {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
}

#progressPercentage {
  font-size: 1.5rem;
  font-weight: bold;
}
